.f_block1 {
    width: auto;
    height: 573px;
    background: #E27866 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
        
    h1 {
        font: normal normal 600 36px/43px Montserrat;
        letter-spacing: 0px;
        // margin-top: 50px;
    }

    p {
        font: normal normal normal 14px/20px Montserrat;
        letter-spacing: 0px;
    }
}

.f_sub_tab {
    width: 360px;
    height: 314px;
    // margin-top: 110px;
    margin-inline: 30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #00000029;
    text-align: left;
    font: normal normal 600 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
    border-radius: 4px;
}

.f_details {
    margin-inline: 45px;
    margin-top: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.f_sub_info {
    width: 260px;
    height: auto;
    color: #D8D8D8;
    text-align: left;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid #D8D8D8;
    outline: none;
    padding-left: 10px;
}

.f_radio label{
        font-size: 9px;
        text-align: center;
        padding-inline-end: 10px;
}

input[type="radio"] {
    appearance: none;
	width: 12px;
	height: 12px;
	border: 1px solid #41D395;
	border-radius: 50%;
	background-clip: content-box;
	padding: 2px;
    // opacity: 50%;
}

input[type="radio"]:checked {
	background-color: #41D395;
    // opacity: 100%;
}

.f_sub_bottom {
    height: 48px;
    width: 158px;
    font: normal normal 600 15px/18px Montserrat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    background-color: #41D395;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 40px;
}

.f_sub_bottom:hover {
    cursor: url("./img/description-cursor-icon-with-shadow-32.png"), auto;
}

.f_block2 {
    width: auto;
    height: 123px;
    background: #1C1C1C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.f_icons {
    height: fit-content;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    // margin-right: 130px;
}

.f_icon {
    img {
        height: 20px;
        width: auto;
    }
    i{
        font-size: 25px;
        color: #E27866;
        opacity: 0.7;
    }
}

.copyright {
    width: 213px;
    height: 22px;
    font: normal normal normal 18px/14px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.5;
}